
* {
    box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #2d3c49;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

/*
 *
 * header
 *
 */

.header {
    color: #2d3c49;
    padding: 15px;
    border-bottom-style: solid;
    border-color: #7d97ad;
}
.column {
    float: left;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.logo {
    width: 25%;
}
.content {
    width: 75%;
    text-align: right;
}

.header__title {
  font-weight: 300;
  font-size: 4em;
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
  float: right;
  clear: both;
  overflow: auto;
  margin: 0.5em 0em 0em 0em;
}

.sub_header__title {
  font-weight: 500;
  font-size: 2em;
}

/*
 *
 * text contents
 *
 */

section h2 {
  font-weight: 500;
  margin:1em 1em;
  font-size: 2em;
  color: #7d97ad;
}

section p, li {
  margin:0.5em 5em;
  font-size: 2em;
}

/*
 *
 * .projects
 *
 */
.container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.box {
  width: 33%;
  height: 100%;
}

figure .img__projects {
  height: 200px;
}

.project_name {
  font-size: 2em;
  color: #2d3c49;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em;
}

.url {
  font-size: 1em;
  text-align: center;
  margin: 0em 0em;
}

.cc {
  margin: 0.5em;
  font-size: 1em;
}

/*
 *
 * responsive design
 *
 */

/* Nexus 5 Portrait*/
@media screen and (max-width: 420px) {
  .header__logo {max-width: 120%;}
  .header__title {font-size: 2.5em;}
  .sub_header__title {font-size: 1.5em;}

  section h2 {
    margin:1em 1em;
    font-size: 1.5em;
  }

  section p, li {
    margin:0.5em 2em;
    font-size: 1em;
  }

  .box {width: 100%;}
  .img__projects {max-width: 40%;}

  .project_name {font-size: 1.5em;}
  .url {font-size: 1em;}
  figure .img__projects {
    height: 100%;
    width: 100%;
  }
}

/* iPad Portrait*/
@media screen and (min-width: 421px) and (max-width: 768px) {
  .header__logo {max-width: 75%;}
  figure .img__projects {height: 90px;}
  .project_name {font-size: 1.2em;}
}

/* iPad Landscape*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  figure .img__projects {height: 100px;}
  .project_name {font-size: 1.5em;}
}
